* {
    padding: 5px;
    margin: 5px;
    /* box-sizing: border-box; */
  }

h1, p {
    text-align: center;
    color: black;
}

/* .card.back, .card.front {
border: solid 4px #272;
border-radius: 12px
}
.card.back {
background: url('img/cross.png');
} 
.card.front {
border-color: #472a09;
} */

img{
    width: 130px;
    perspective: 1000;
    transform-style: preserve-3d;
}

img:hover{ 
    transform: rotateY(0deg); 
}

.tempos{
    
}

#btnIniciar{
    align-self: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
    height: 100%;
}