* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    height: 100vh;
    display:flex;
    background-color: grey;
}

h1, p {
    text-align: center;
    color: black;
}

p{
    font-size: 40px;
}

/* mem-game */
#tabuleiro{
    width:640px;
    height: 640px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
/* mem-card */
.card{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card.flip{
    transform: rotateY(180deg);
}

 .cardBack, 
 .cardFront {
    width:100%;
    height:100%;
    padding: 20px;
    position:absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}
.cardBack {
    /* background: url('img/cross.png'); */
} 
.cardFront {
    border-color: #472a09;
    transform: rotateY(180deg);
}

#btnIniciar{
    align-self: center;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}